wifi_ssid: "your-ssid"
wifi_password: "your-wifi-password"
ota_password: "choose-something"
mqtt_broker: "192.168.1.5"
mqtt_username: ""
mqtt_password: ""
# decimal degrees; west longitude is negative
latitude: "0.0"
longitude: "0.0"
